<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/graph.css' />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>
  <body>
<div id="options">
<ul>
  <li><a href="/">Hem/kartan</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Grafalternativ</a>
    <div class="dropdown-content">
<div id="Checkboxes">
 <label id="prov4" class="container">Lufttemperatur
  <input type="checkbox"  checked="checked" id="airtemp">
  <span class="checkmark"></span>
  <a id="jumper" href="#type1">Hoppa</a>
</label>
<label id="prov5" class="container">Vägtemperatur
  <input type="checkbox"  checked="checked" id="Road_temp">
  <span class="checkmark"></span>
  <a id="jumper" href="#type2">Hoppa</a>
</label>

<label id="prov6" class="container">Luftfuktighet
  <input type="checkbox"  checked="checked" id="Air_humidity">
  <span class="checkmark"></span>
  <a id="jumper" href="#type3">Hoppa</a>
</label>

<label id="prov7" class="container">Vindhastighet
  <input type="checkbox"  checked="checked" id="Wind_speed">
  <span class="checkmark"></span>
  <a id="jumper" href="#type4">Hoppa</a>
</label> 

<label id="prov8" class="container">Nuvarande lufttemperatur
  <input type="checkbox" checked="checked" id="current_temp">
  <span class="checkmark"></span>
  <a id="jumper" href="#type5">Hoppa</a>
</label> 
<label id="prov12" class="container">Nuvarande daggpunkt
  <input type="checkbox" checked="checked" id="daggpunkt">
  <span class="checkmark"></span>
  <a id="jumper" href="#type12">Hoppa</a>
</label> 
<label id="prov9" class="container">Nuvarande vägtemperatur
  <input type="checkbox" checked="checked" id="current_road_temp">
  <span class="checkmark"></span>
  <a id="jumper" href="#type6">Hoppa</a>
</label> 

<label id="prov10" class="container">Nuvarande luftfuktighet
  <input type="checkbox" checked="checked" id="current_hum">
  <span class="checkmark"></span>
  <a id="jumper" href="#type7">Hoppa</a>
</label> 

<label id="prov11" class="container">Nuvarande vindhastighet
  <input type="checkbox" checked="checked" id="current_windspeed">
  <span class="checkmark"></span>
  <a id="jumper"  href="#type8">Hoppa</a>
</label> 

<label id="prov1" class="container">Nuvarande medellufttemperatur län
  <input type="checkbox" checked="checked" id="current_temp_prov">
  <span class="checkmark"></span>
  <a id="jumper" href="#type9">Hoppa</a>
</label> 

<label id="prov2" class="container">Nuvarande medelvägtemperatur län
  <input type="checkbox" checked="checked" id="current_road_prov">
  <span class="checkmark"></span>
  <a id="jumper" href="#type10">Hoppa</a>
</label> 

<label id="prov3" class="container">Nuvarande medellufttemperatur över tid län
  <input type="checkbox" checked="checked" id="overtime_road_prov">
  <span class="checkmark"></span>
  <a id="jumper" href="#type11">Hoppa</a>
</label> 
</div>
    </div>
  </li>
</ul>


<div id="slideroptions">

<div id="starttime">
<p id"stopandstartp">STARTDATUM</p>
<p id="output1"></p>
<div class="slidecontainer1">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange1">
</div>
 <input type="date" id="timeintervallpick1" min="2018-12-19">
<div id="time24h">
  <input class="timeinput24" id="timeinput241" type="number" min="0" max="23" placeholder="23">:
  <input  class="timeinput24" id="timeinput242" type="number" min="0" max="59" placeholder="00">
</div>
</div>

<div id="stoptime">
<p id"stopandstartp">SLUTDATUM</p>
<p id="output2"></p>
<div class="slidecontainer2">
  <input type="range" min="1545230510" max="0" value="1" class="slider" id="myRange2">
</div>
 <input type="date" id="timeintervallpick2" min="2018-12-19">
<div id="time24h">
  <input  class="timeinput24" id="timeinput243" type="number" min="0" max="23" placeholder="23">:
  <input  class="timeinput24" id="timeinput244" type="number" min="0" max="59" placeholder="00">
</div>
</div>
</div>
<button id="ButtonTimeIntervall" type="button" onclick="rungraphs(starttime,stoptime)">Time intervall</button> 
</div>
<a id="jumtotop" href="#options">HOPPA TILL TOPPEN</a>

<div id="type1">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type1','airtemp')">X</button> 
  <canvas id="myChart1"></canvas>
</div>
<div id="type2">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type2','Road_temp')">X</button> 
  <canvas id="myChart2"></canvas>
</div>
<div id="type3">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type3','Air_humidity')">X</button> 
  <canvas id="myChart3"></canvas>
</div>
<div id="type4">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type4','Wind_speed')">X</button> 
  <canvas id="myChart4"></canvas>
</div>
<div id="type5">
  <button class="hidebut"  id="Canvashidebutton" type="button" onclick="hideelements('type5','current_temp')">X</button> 
  <canvas id="myChart5"></canvas>
</div>
<div id="type12">
  <button class ="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type12','daggpunkt')">X</button> 
   <canvas id="myChart12"></canvas>
 </div>
<div id="type6">
  <button class="hidebut"  id="Canvashidebutton" type="button" onclick="hideelements('type6','current_road_temp')">X</button> 
  <canvas id="myChart6"></canvas>
</div>
<div id="type7">
  <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type7','current_hum')">X</button> 
  <canvas id="myChart7"></canvas>
</div>
<div id="type8">
 <button class="hidebut" id="Canvashidebutton" type="button" onclick="hideelements('type8','current_windspeed')">X</button> 
  <canvas id="myChart8"></canvas>
</div>
<div id="type9">
 <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type9','current_temp_prov')">X</button> 
  <canvas id="myChart9"></canvas>
</div>

<div id="type10">
  <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type10','current_road_prov')">X</button> 
   <canvas id="myChart10"></canvas>
 </div>

 <div id="type11">
  <button class ="province" id="Canvashidebutton" type="button" onclick="hideelements('type11','overtime_road_prov')">X</button> 
   <canvas id="myChart11"></canvas>
 </div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
 <script src="javascripts/map/stations.js"></script>
 <script src="javascripts/map/countyNames.js"></script>
 <script src="javascripts/graph/getWeatherData.js"></script>
 <script src="javascripts/graph/Options.js"></script>
 <script type="text/javascript" src="/javascripts/graph/graphs.js"></script>
 <script src="javascripts/graph/RunGraphs.js"></script>
<script>

//Get stations from map
var stationsarrayid = [];
var stationname = [];
var thechosendata = window.opener.chosenStations;
for(var i=0;i<thechosendata.length;i++){
	stationsarrayid.push(thechosendata[i].id);
	stationname.push(thechosendata[i].name);
}

//Get provinces from map
//var latestWeatherData = window.opener.latestWeatherData;
var chosenintcounties=[]
var chosenCounties = window.opener.chosenCounties;
for (var i=0; i<chosenCounties.length;i++){
  chosenintcounties.push(parseInt(chosenCounties[i]));
}
//Hide the elements at start, We show later after graph load
hide1("hidebut");
hide1("province");
if(stationsarrayid.length<=0){
  for(var i =4;i<=12;i++){
    hidebyid("prov"+i);
  }
  for(var y=1;y<9;y++){
    hidebyid("type"+y);
  }
  hidebyid("type12");
}
if(chosenCounties.length<=0){
  hidebyid("prov1");
  hidebyid("prov2");
  hidebyid("prov3");
}
document.getElementById("myRange1").max = Math.floor(Date.now() / 1000);
document.getElementById("myRange2").max = Math.floor(Date.now() / 1000);


var currentDate = new Date();

//The default start and top time. Can easily be changed. Just match the same format
var starttime='2019-01-20 13:12:12';
var stoptime='2019-01-20 16:23:20';

rungraphs(starttime,stoptime);


</script>
  </body>
</html>
