<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--JQuery script-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<form method="POST">
            <label>Secret Key: </label>
            <input type="password" name="secret_key" required>
			<input type="submit">
		</form>		
    </div>


</body>
</html>